.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  overflow: hidden;
}

.p-3{
  background-color: #ABB1D4;
  width: 100%;
  height: 100vh;
}
.navbar{

  background-color:#BCD4AC

}
.btn{
  background-color: #ABB1D4
}
.nav-item {
  margin-right: 10px; /* Dostosuj wartość marginesu według potrzeb */
}


.btn-custom {
  border-color: white; /* Kolor ramki */
  border-width: 2px;   /* Grubość ramki */
}

@media (max-width: 992px) { /* Adjust the breakpoint as needed */
  .btn-custom {
    margin-top: 10px; /* Adjust the margin as needed */
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
